/* Write your CSS here */
.background {
  height: 100vh;
  background-image: linear-gradient(#fbc7d4, #9796f0);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  height: 500px;
  width: 500px;
}
.pol {
  display: flex;
  justify-content: space-between;
}
input {
  border: 1px solid white;
  margin: 10px;
}
.loyal {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.pop{
  display: flex;
  
}